<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universal Storage Tool</title>

    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/button.css">
    <link class="favicon" rel="icon" href="./images/logo.png">
    <script src="https://kit.fontawesome.com/4a25c70fc7.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="grid-container">

    <header>
<!--        <i class="fas fa-bars"></i>-->
        <a href="index.html">
            <img width="40" alt="Logo" src="images/logo.png" class="header-image">
        </a>
        <%= image_tag 'logo.png' %>
        <span>Universal Storage Tool</span>
    </header>

    <main> <!-- THIS WILL BE THE MAIN PART OF THE PAGE -->
        <section>  <!-- THE MAIN FILES SECTIONS -->
            <div class="item-container">
                <!--					HERE WILL BE THE FILES-->
                							<% @session.files.each do |file| %>
            </div>
        </section>
   
    </main>

    <nav>
        <!-- THIS WILL BE THE MENU -->
        <div class="sidebar">
            <div class="button">
                <div id="spin"></div> 
                <button><%= link_to '*PLUS SIGN* New', class: 'placeholder', id: 'spin', new_file_path %></button>
                <a href="#">NEW</a>
            </div>

            <ul>
                <li class="active my-drive">
                    <a href="index.html">
                        <i class="fas fa-laptop">

                        </i>My Drive
                    </a>
                </li>

                <li class="shared-with-me">
                    <a href="shared_with_me.html">
                        <i class="far fa-user">

                        </i>Shared with me</a>
                </li>
                <li class="recent">
                    <a href="services.html">
                        <i class="far fa-clock">
                        </i>Recent
                    </a>
                </li>
                <li class="favorites">
                    <a href="favorites.html">
                        <i class="far fa-heart">

                        </i>Favorites
                    </a>
                </li>
                <li class="trash"><!-- <%=link_to 'Trash', trash_path, class: 'a' %> -->
                    <a href="trash.html">
                        <i class="far fa-trash-alt">

                        </i>Trash
                    </a>
                </li>
            </ul>

            <!-- HERE WILL BE THE STORAGE BAR -->
            <div id="show-storage" style="padding: 8px 16px;">
                <p><i class="far fa-hdd"></i>Storage</p>
                <progress id="file" value="32" max="100"> 32%</progress>
                <p>32 GB of 100 GB used</p>
            </div>
            <!--			-->
            <!--			TO DO:	Add the NEW Button/ style it-->
        </div>

    </nav>

    <footer>
        <!-- THIS WILL BE THE FOOTER -->
        <p id="footer">COPYRIGHT TW CHILDS</p>
        <!--					Make the footer in its final form-->
    </footer>

    <aside>
        <%= image_tag current_user.avatar_url, class: 'placeholder', style: 'placeholder' %>-->
    </aside>

</div>
</body>
</html>
