<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Universal Storage Tool">
    <meta name="keywords" content="Storage, Drive, Tool">
    <meta name="author" content="Ionut Feraru">
    <title>Universal Storage Tool</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/4a25c70fc7.js" crossorigin="anonymous"></script>
    <a href="#"></a>
</head>
<body>
<div class="container">

    <div class="header">

        <ul>
            <li>
                <a href="#">
                    <%= image_tag 'logo.png', :class => "logo" %>
                </a>
            </li>

            <li>
                <a href="#"><h2>Universal Storage Tool</h2></a>
            </li>
            
            <li>
                <img src="https://picsum.photos/50" alt="account info" class="account-photo">
            </li>
        </ul>
    </div>


    <div class="main-section">
        <div class="nav">
                <div class="sidebar">
                        <div class="dropdown">
                            <button class="dropbtn">NEW</button>
                            <div class="dropdown-content">
                                <a href="#">New</a>
                                <a href="#">Split file</a>
                                <a href="#">Merge file locally</a>
                            </div>
	                    </div>

	                    <ul class="menu">
                            <li class="active">
                                <i class="fas fa-laptop"></i>
                                    <a href=<%root_path%> class="active">
                                        <span>My Drive</span></a>
	                        </li>

                            <li class="shared-with-me">
                                <i class="far fa-user"></i>
                                    <a href="shared_with_me.html">
                                        Shared with me</a>
	                        </li>
                            <li class="recent">
                                <i class="far fa-clock"></i>
                                    <a href="services.html">
                                        Recent</a>
                                    
	                        </li>
                            <li class="favorites">
                                <i class="far fa-heart"></i>
                                    <a href="favorites.html">
                                        Favorites
                                    </a>
	                        </li>
                            <li class="trash">
                                <i class="far fa-trash-alt"></i>
                                        <a href="trash.html">
                                        Trash
                                    </a>
	                        </li>
	                    </ul> 
                    
                </div>

                    <!-- HERE WILL BE THE STORAGE BAR -->
                        <div id="show-storage">
                            <p><i class="far fa-hdd"></i>Storage</p>
                            <progress id="file" value="32" max="100"> 32%</progress>
                            <p>32 GB of 100 GB used</p>
                        </div>
        </div>

        <div class="main">
            <section>
                <div class="file-container">						
                </div>                                           
            </section>        
            <span>MAIN</span>               
        </div>
        
        <div class="aside">
            <span>ASIDE</span>
        </div>
    </div>


    <div class="footer">
        <!-- THIS WILL BE THE FOOTER -->
        <!-- <p id="footer">COPYRIGHT TW CHILDS</p> -->
        <span>FOOTER</span>
    </div>
</div>
</body>
</html>


