
.header-image{
	width: 40px;
	border-radius: 50px;
}

h1 {
	font-family: 'Caveat', cursive;
}

.header {
    grid-area: header;
    height: 60px;
    position: relative;
    top: -1.5px;
}

.spacer {
    flex: 1;
  }

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
  }

.topnav {
  overflow: hidden;
  margin-right: 300px;
  position: relative;

}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  max-width: 720px;
  height: 45px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
}
