main {
    /* grid-row: 2 / 3; */
    grid-area: main;

}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    column-gap: 10px;
    row-gap: 5px;
}

.grid-item{
    width: 200px;
    height: 200px;
}

.grid-image {
    border-radius: 5%;
    padding: 10px;
}

.item-container .button {
    margin: 5px;
    padding: 10px;
    justify-content: flex-end;
}