* {
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;

}

/*
  GLOBAL
*/

.header img {
    float: left;
    width: 100px;
    height: 100px;

}

.header h1 {
    position: relative;
    left: 10px;
    text-align: left;
    padding: 20px;
    color: #064579;
    font-size: 25px;

}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header .highlight, header .current{
    color: #e8491d;
    font-weight: bold;
    float: right;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin: 0;
    padding: 0;
}

#new {
    margin-top: 10px;
}

/*
    FILES
*/

#files {
    margin-top: 55px;
    margin-left: 210px;
}

/*   MENU   */

.sidenav {
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 20px 0;
    float: left;
}

.sidenav a {
    width: 300px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    width: 75%;
    float: right;
    padding: 15px;
    border: 1px solid red;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*  END MENU  */

/*  FOOTER  */


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;

}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color:#2196F3;
}

.sidenav:after {
    content: "";
    display: flex;
    clear: both;
}