* {
    box-sizing: border-box;}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.footer {
    height: 100px;
    /* flex-grow: 1; */
    border-top: 1px solid #CCC;
    background-color: #2c292f;
}


.main-section {
    flex-grow: 1;
    display: flex;
}


.main {
    flex-grow: 15;
    background-color: red;
}

.aside {
    flex-grow: 1;
    background-color: violet;
    border-left: 1px solid #CCC;
}
/* 
@media (min-width: 768px) {
    .container {
        grid-template-columns: 270px 2fr 50px;
        grid-template-rows: 35px minmax(150px, auto) 50px;
        grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    }

} */
